<!-- app/views/products/index.html.erb -->
<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <% @products.each do |product| %>
        <div class="lg:w-1/4 md:w-1/2 p-4 transition duration-300 ease-in-out transform hover:scale-105">
          <a href="<%= product_path(product) %>" class="block">
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
              <div class="block relative h-48 overflow-hidden">
                <%= image_tag("https://dummyimage.com/420x260", class: "object-cover object-center w-full h-full block rotate-360", alt: "Product Image") %>
              </div>
              <div class="p-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"><%= product.category.name %></h3>
                <h2 class="text-gray-900 title-font text-lg font-medium"><%= product.name %></h2>
                <p class="mt-1">$<%= number_with_precision(product.price, precision: 2) %></p>
                <p><%= product.description %></p>
              </div>
            </div>
          </a>
          <div class="mt-4 flex">
            <%= button_to "Edit", edit_product_path(product), method: :get, class: "inline-flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-2" %>
            <%= button_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you Sure?" }, class: "inline-flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>





